* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#div_welcome{
  top:25%;width:100%; height:50%;
  font-size:300%;
  background-color: none;
}
  #div_welcome img{
    height:20%;
  }

.je-icon{  
  margin-left:1%;
  text-align: center;  
  border: 0px solid violet;
}
  .je-icon a{
    text-decoration: none;
  }
  .je-icon img{
    height: 100%;
    width: 50px;
  }

@media screen and (max-width:600px) {  /* For mobile phones: */
  #div_welcome{
    top:25%;width:100%; height:50%;
    font-size:150%;
    background-color: none;
  }
}